<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Error</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">HealthierMO</a>
        </div>
    </nav>
    <div class="container text-center" style="padding-top:60px;">
        <h1 class="display-4 text-warning">An Error Occurred</h1>
        <p class="lead">Sorry, something went wrong or the page is unavailable.</p>
        <a href="/panel" class="btn btn-primary mt-3">Return to Admin Panel Home</a>
    </div>
    <script src="/vendor/jquery/jquery.slim.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
