<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home</title>
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <div th:replace="fragments/navbar :: navbar"></div>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <hr>
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">HealthierMO Admin Panel</h1>
                <p class="lead">Each box will serve as an input for all of the possible combinations of each piece
                    of information.</p>
                <hr>
                <h2 th:text="'Currently Updating: ' + ${pageTitle}"></h2>

                <form th:action="@{/save/{page}(page=${pageShortName})}" method="POST" enctype="multipart/form-data" modelAttribute="configForm" th:object="${configForm}">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="form_message">Environmental Public Health</label>

                                <input type="hidden" th:field="*{sections[0].sectionKey}" th:value="ENVIRONMENT" />
                                <input type="text" class="form-control" th:field="*{sections[0].title}" placeholder="Enter Title">

                                <textarea th:field="*{sections[0].text}" id="envText" class="form-control" placeholder="Insert your information for the popup here!"
                                    rows="4" data-error="Please, leave us a message."></textarea>
                                <div class="help-block with-errors"></div>

                                <p class = "text-justify">Play current audio file:</p>
                                <div class="text-left">
                                    <button type="button" class="btn btn-primary pull-left audio-btn" id="ENVIRONMENT">Play Audio</button>
                                </div>
                                <p class="text-justify">Upload Audio File for Box: </p>

                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="envFile" th:field="*{sections[0].file}" accept="audio/*" >
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="form_message">Communicable Disease Control</label>
                                <input type="hidden" th:field="*{sections[1].sectionKey}" th:value="COMMUNICABLE_DISEASE" />
                                <input type="text" class="form-control" th:field="*{sections[1].title}" placeholder="Enter Title">

                                <textarea th:field="*{sections[1].text}" id="communicableDiseaseText" class="form-control" placeholder="Insert your information for the popup here!"
                                    rows="4" data-error="Please, leave us a message."></textarea>
                                <div class="help-block with-errors"></div>

                                <p class = "text-justify">Play current audio file:</p>
                                <div class="text-left">
                                    <button type="button" class="btn btn-primary pull-left audio-btn" id="COMMUNICABLE">Play Audio</button>
                                </div>
                                <p class="text-justify">Upload Audio File for Box: </p>

                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="communicableDiseaseFile" th:field="*{sections[1].file}" accept="audio/*" >
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="form_message">Maternal, Child, and Family Health</label>

                                <input type="hidden" th:field="*{sections[2].sectionKey}" th:value="MATERNAL" />
                                <input type="text" class="form-control" th:field="*{sections[2].title}" placeholder="Enter Title">

                                <textarea th:field="*{sections[2].text}" id="maternalText" class="form-control" placeholder="Insert your information for the popup here!"
                                    rows="4" data-error="Please, leave us a message."></textarea>
                                <div class="help-block with-errors"></div>

                                <p class = "text-justify">Play current audio file:</p>
                                <div class="text-left">
                                    <button type="button" class="btn btn-primary pull-left audio-btn" id="MATERNAL">Play Audio</button>
                                </div>
                                <p class="text-justify">Upload Audio File for Box: </p>

                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="maternalFile" th:field="*{sections[2].file}" accept="audio/*" >
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="form_message">Chronic Disease Prevention</label>

                                <input type="hidden" th:field="*{sections[3].sectionKey}" th:value="CHRONIC" />
                                <input type="text" class="form-control" th:field="*{sections[3].title}" placeholder="Enter Title">

                                <textarea th:field="*{sections[3].text}" id="chronicText" class="form-control" placeholder="Insert your information for the popup here!"
                                    rows="4" data-error="Please, leave us a message."></textarea>
                                <div class="help-block with-errors"></div>

                                <p class = "text-justify">Play current audio file:</p>
                                <div class="text-left">
                                    <button type="button" class="btn btn-primary pull-left audio-btn" id="CHRONIC">Play Audio</button>
                                </div>
                                <p class="text-justify">Upload Audio File for Box: </p>

                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="chronicFile" th:field="*{sections[3].file}" accept="audio/*" >
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="form_message">Injury Prevention</label>

                                <input type="hidden" th:field="*{sections[4].sectionKey}" th:value="INJURY" />
                                <input type="text" class="form-control" th:field="*{sections[4].title}" placeholder="Enter Title">

                                <textarea th:field="*{sections[4].text}" id="injuryText" class="form-control" placeholder="Insert your information for the popup here!"
                                    rows="4" data-error="Please, leave us a message."></textarea>
                                <div class="help-block with-errors"></div>

                                <p class = "text-justify">Play current audio file:</p>
                                <div class="text-left">
                                    <button type="button" class="btn btn-primary pull-left audio-btn" id="INJURY">Play Audio</button>
                                </div>
                                <p class="text-justify">Upload Audio File for Box: </p>

                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="injuryFile" th:field="*{sections[4].file}" accept="audio/*" >
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="form_message">Linkage to Medical Behavior and Community Resources</label>
                                <input type="hidden" th:field="*{sections[5].sectionKey}" th:value="LINKAGE" />
                                <input type="text" class="form-control" th:field="*{sections[5].title}" placeholder="Enter Title">

                                <textarea th:field="*{sections[5].text}" id="linkageText" class="form-control" placeholder="Insert your information for the popup here!"
                                    rows="4" data-error="Please, leave us a message."></textarea>
                                <div class="help-block with-errors"></div>

                                <p class = "text-justify">Play current audio file:</p>
                                <div class="text-left">
                                    <button type="button" class="btn btn-primary pull-left audio-btn" id="LINKAGE">Play Audio</button>
                                </div>
                                <p class="text-justify">Upload Audio File for Box: </p>

                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="linkageFile" th:field="*{sections[5].file}" accept="audio/*" >
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button id="submit-btn" class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <audio id="audioFile" preload="none" src=""></audio>

    </div>
    <!-- Bootstrap core JavaScript --> 
    <script src="/vendor/jquery/jquery.slim.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script th:inline="javascript">

        var audioPlaying = false; 
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
        
        $( document ).ready(function() {
            $("#audioFile").on("error", function (e) {
                alert("No wav file found.");

                $('#audioFile').get(0).pause();
                $('#audioFile').get(0).currentTime = 0;
                audioPlaying = false;
                $(this).text("Play Audio")
                $(this).removeClass("btn-danger")
                $(this).addClass("btn-primary")
            });
        });


        $(":button").click(function() {
            console.log("Button click.")
            var clickedBtnID = $(this).attr('id'); 
            console.log(clickedBtnID)
            if($(this).hasClass("audio-btn")) {
                
                if(audioPlaying) {
                    console.log("Audio playing. Stoping.")
                    $('#audioFile').get(0).pause();
                    $('#audioFile').get(0).currentTime = 0;
                    audioPlaying = false;
                    $(this).text("Play Audio")
                    $(this).removeClass("btn-danger")
                    $(this).addClass("btn-primary")
                } else {
                    console.log("Starting to play audio file.")
                    var box = [[${pageShortName}]];
                    var pie = clickedBtnID

                    $(this).removeClass("btn-primary")
                    $(this).addClass("btn-danger")
                    $(this).text("Stop Audio")
                    
                    try { 
                        document.getElementById("audioFile").src = "/audio-files/" + box + "-" + pie + ".wav";
                        console.log(document.getElementById("audioFile").src)
                        $('#audioFile').get(0).play()
                        $('#audioFile').get(0).volume = 0.1;
                    } catch (e) {
                        $(this).text("Play Audio")
                        $(this).removeClass("btn-danger")
                        $(this).addClass("btn-primary")
                    }
                    
                    audioPlaying = true;
                   
                   
                }
            }
        });

    </script>
</body>

</html>